
<div class="row container-fluid">
    <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
                <h6 class="mb-0">Exams</h6>

                <div class="ms-auto mb-1">
                <button class="btn btn-outline-dark" [routerLink]="['/exams', 0, 'upsert']">
                    Add Exam
                </button>
                </div>
            </div>
         </div>

            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7"> ID</th>
                                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2"> Title</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Description</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                                 <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created By</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (exam of Exams; track exam.id) 
                            {
                                <tr>
                                   
                                    <td>
                                        <p class="text-xs text-center font-weight-bold mb-0">{{exam.id}}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">{{exam.title}}</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">{{exam.description}}</span>
                                    </td>
                                   <td class="align-middle text-center text-sm">
                                        <span class=" text-xs font-weight-bold text-secondary">{{exam.duration}}</span>
                                    </td>
                                     <td class="align-middle text-center text-sm">
                                        <span class=" text-xs font-weight-bold text-secondary">{{exam.createdBy}}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                            <i
                                                [routerLink]="[exam.id,'upsert']"
                                                class="text-info fs-3 mx-1 bi bi-pencil-square"
                                            ></i>
                                            <i
                                                [routerLink]="[exam.id]"
                                                class="text-warning fs-3 mx-1 bi bi-eye-fill"
                                            ></i>
                                            <i class="text-danger fs-3 mx-1 bi bi-trash3-fill"
                                            (click)="delete(exam.id)"></i>
                                        </td>
                                                                
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>