<div class="bg-dark text-white py-2 fs-6">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="mb-2 mb-md-0">
                    <a href="mailto:ibrahimshaban@gmil.com" class="text-white text-decoration-none me-3"><i class="bi bi-envelope me-1"></i> Send an Email</a>
                    <a href="tel:010-020-0340" class="text-white text-decoration-none"><i class="bi bi-telephone me-1"></i> 015-5517-8340</a>
                </div>
                <div >
                    <a href="#" class="text-light text-decoration-none me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light text-decoration-none me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light text-decoration-none me-3"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="text-light text-decoration-none"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white py-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand text-success fs-1 fw-bold" href="#">Exam Pro System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto"> 
                    <li class="nav-item">
                        <a class="nav-link text-secondary fw-semibold mx-3"
                         [routerLink]="['/home']" [routerLinkActive]="'bg-dark text-light'" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                @if(userRole=='Teacher'){
                    <li class="nav-item" > 
                        <a class="nav-link text-secondary fw-semibold mx-3" 
                        [routerLink]="['/exams']" [routerLinkActive]="'bg-dark text-light'"
                        [routerLinkActiveOptions]="{exact:true}">Exams</a>
                    </li>
                }
                    
                  
                    <li class="nav-item" *ngIf="userRole==='Teacher'">
                        <a class="nav-link text-secondary fw-semibold mx-3" 
                        [routerLink]="['/exams',0,'upsert']" [routerLinkActive]="'bg-dark text-light'"
                        [routerLinkActiveOptions]="{exact:true}">Add Exam</a>
                    </li>
            
                   
                    <li class="nav-item" *ngIf="userRole === 'Student'">
                        <a class="nav-link text-secondary fw-semibold mx-3"
                         [routerLink]="['/AvailableExams']" [routerLinkActive]="'bg-dark text-light'" [routerLinkActiveOptions]="{exact:true}">Student Dashboard</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="dropdown me-2">
                        <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            [routerLink]="['/account']"
                            [routerLinkActive]="'text-danger'"
                            [routerLinkActiveOptions]="{exact:true}">
                            Account
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['/account/register']"
                                [routerLinkActive]="'bg-dark text-light'" [routerLinkActiveOptions]="{exact:true}">Register</a></li>
                            <li *ngIf="!isLogged"><a class="dropdown-item" [routerLink]="['/account/login']"
                                [routerLinkActive]="'bg-dark text-light'" [routerLinkActiveOptions]="{exact:true}">Login</a></li>
                           <li *ngIf="isLogged"><a class="dropdown-item" 
                                (click)="logout()" style="cursor: pointer;">Logout</a></li>
                        </ul>
                    </div>
                    <span *ngIf="userName" class="fw-semibold text-success">{{ userName }}</span>
                </div>
            </div>
        </div>
    </nav>
